<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="/css/layout.css" rel="stylesheet">
  <script src="/js/style/modernizer.js"></script>
  <script src="/js/jquery/jquery-1.9.1.js"></script>
  <script src="/js/bootstrap/bootstrap.js"></script>
  <link rel="icon" type="image/png" href="/img/style/favicon.ico">
  <link rel="shortcut icon" href="/img/style/favicon.ico" type="image/png">
</head>

<body>

<div class="wrapper">

  <header class="header">
    <div class="col-md-9">
      <h3><i class="fa fa-linux"></i>Transfer SQL</h3>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
            <li class="grey">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-check"></i>
                <span>Active connections</span>
                <span class="badge badge-grey">4</span>
              </a>
            </li>
            <li class="grey">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-plus-circle"></i>
                <span>Add connect</span>
                <span class="badge badge-grey">4</span>
              </a>
            </li>
            <li class="light-blue dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <i class="fa fa-user"></i>
                <span class="user-info">
									{% if user_lod is defined %}
                    <span>{{user_lod}}</span>
                  {% endif %}
								</span>

                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="#"><i class="fa fa-cogs"></i>Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#"><i class="fa fa-thumbs-o-down"></i>logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header><!-- .header-->

  <div class="middle">

    <div class="container">
      <main class="content">
        <strong>Content:</strong> Sed placerat accumsan ligula. Aliquam felis magna, congue quis, tempus eu, aliquam vitae, ante. Cras neque justo, ultrices at, rhoncus a, facilisis eget, nisl. Quisque vitae pede. Nam et augue. Sed a elit. Ut vel massa. Suspendisse nibh pede, ultrices vitae, ultrices nec, mollis non, nibh. In sit amet pede quis leo vulputate hendrerit. Cras laoreet leo et justo auctor condimentum. Integer id enim. Suspendisse egestas, dui ac egestas mollis, libero orci hendrerit lacus, et malesuada lorem neque ac libero. Morbi tempor pulvinar pede. Donec vel elit.
      </main><!-- .content -->
    </div><!-- .container-->

    <aside class="left-sidebar">
      <strong>Left Sidebar:</strong> Integer velit. Vestibulum nisi nunc, accumsan ut, vehicula sit amet, porta a, mi. Nam nisl tellus, placerat eget, posuere eget, egestas eget, dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elementum urna a eros. Integer iaculis. Maecenas vel elit.
    </aside><!-- .left-sidebar -->

  </div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
  <strong>Footer:</strong> Mus elit Morbi mus enim lacus at quis Nam eget morbi. Et semper urna urna non at cursus dolor vestibulum neque enim. Tellus interdum at laoreet laoreet lacinia lacinia sed Quisque justo quis. Hendrerit scelerisque lorem elit orci tempor tincidunt enim Phasellus dignissim tincidunt. Nunc vel et Sed nisl Vestibulum odio montes Aliquam volutpat pellentesque. Ut pede sagittis et quis nunc gravida porttitor ligula.
</footer><!-- .footer -->
</body>
</html>

